.section-14{
    background-color: #0F0F0F;
    padding-bottom: 0;
}

.section-7{
    background-color: #201a28;
    padding: 0;
}

.img-testmony{
    margin: 0 0 4% 0;
    width: 100%;
    box-shadow: 5px 5px 1px #35bdad;
}

.corbranca{
    color: #fff
}

.cta cta-blue{
    text-align: center;
}

